<div class="card-body">
  <div *ngFor="let card of cards">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image [src]="card.image" alt="Photo of a {{ card.title }}" class="example-header-image" />

      <div class=" headings">
        <mat-card-content>
          <span class="title">{{ card.title }}</span>
        </mat-card-content>
        <mat-card-actions class="buttons">
          <!-- <button mat-button>BUY</button> -->
          <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <button mat-button>ADD TO CART</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>