.example-card {
  /* margin: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 350px;
  align-items: center;
}
.card-body {
 display: grid;
 grid-template-columns: auto auto auto auto auto;
 align-items: center;
 align-content: center;
 gap: 10px;
}
.example-header-image {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.title {
  font-size: 15px;
}

.headings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.buttons{
  position: absolute;
  top: 100px;

}