<mat-toolbar color="primary" class="nav-bar">
    <div class="nav-bar">
        <img src="../../assets/logo_lite-cbb357.png" alt="" id="logo">
        <input id="search-bar" placeholder="Search   eg.electronics,many more...">
    </div>
    <div class="nav-bar">
        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/contact" mat-button>Contact</a>
        <a routerLink="/write" mat-button>Write</a>
        <a routerLink="/docs" mat-button>Docs</a>
        <button mat-button class="btn" (click)="newMessage($event)"><mat-icon aria-hidden="false"
                aria-label="Example add_shopping_cart icon" fontIcon="table"></mat-icon></button>
    </div>
    <div class="nav-bar">
        <span *ngIf='flag'>
            <button mat-flat-button id="loginBtn">Login</button>
        </span>
        <span *ngIf='flag === false'>
            <button mat-flat-button id="signUpBtn" routerLink="/signup" onclick="flag = !flag">SignUp</button>
        </span>
    </div>
</mat-toolbar>