<div class="card-body">
  <div *ngFor="let card of cards">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image [src]="card.image" alt="Photo of a {{ card.title }}" class="example-header-image" />
      <div class=" headings">
        <mat-card-content>
          <span class="title">{{ card.title }}</span>
        </mat-card-content>
        <mat-card-actions class="buttons">
          <button mat-button class="btn"><mat-icon aria-hidden="false" aria-label="Example add_shopping_cart icon"
              fontIcon="add_shopping_cart"></mat-icon></button>
          <button mat-button class="btn"><mat-icon aria-hidden="false" aria-label="Example favorite icon"
              fontIcon="favorite"></mat-icon></button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>